.thumbLogo{
    height: 100px;
}
.react-multi-carousel-dot-list button{
    width: 40px;
    background: #fff;
    border: 0;
    border-radius: 0;
    height: 4px;
}
.react-multi-carousel-dot-list .react-multi-carousel-dot--active button{
    background: #ff1808;
    height: 8px;
}