.mission-bg{
    background-color: #f6f6f6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mission-line{
    width: 70px;
    height: 4px;
    background: #1c3b9c;
    margin: auto;
    display: inline-block;
    
}

.mission-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f9f9f9;
    background-clip: border-box;
    border: none;
}

.mission-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
    background: rgba(23,23,33,.8);
    padding: 4px 15px;
}

